/***********************
 master styles 
***********************/
body {
    font-family: "Lato", sans-serif;  /* if Lato is not available, use san-serif */
    margin: 0px;   /* default is 8 px */
}

/* grid has some similarity to flexbox */
/* give us ability to align the items */ 
/* 1fr: one fractional unit. if only one column,this colomn has 100% width */
.container {
    display: grid;
    grid-template-columns: 1fr; 
}

/***********************
 nav styles 
***********************/
/* flexbox helps align contents on the page */
.nav-wrapper {
    display: flex;   /* place the first childs'div from left to right */
    justify-content: space-between;   
                     /* Use all available space to justify between the first childs'div */
    padding: 38px;
}

.left-side {
    display: flex;  /* place Home and About from left to right */
}

/* select the div tag under .nav-wrapper > .left-side */
.nav-wrapper > .left-side > div {
    margin-right: 20px;    /* nice space between Home and About */
    font-size: 0.9em;      /* default is 1em. 0.9em is 90% of 1em */
    text-transform: uppercase;  /* capitalize Home and About */
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent; /* add transparent bottom border */
    transition: border-bottom 0.5s;  /* add animation to border-bottom */
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;   /* remove underline */
    transition: color 0.5s;  /* add animation to color */
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

/* !important used to overwrite the default behavior */
.active-nav-link a {
    color: black !important;
}

/***********************
 portfolio styles 
***********************/
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  /* three columns; each has full width */   
}

.portfolio-item-wrapper {
    position: relative;  /* position logo image in the grid */
}

/* the images may not have same size; style them in fixed size
   and sit next to each other */
.portfolio-img-background {
    height: 350px; 
    width: 100%;   /* each background image has 350px height, automate weight */
    background-size: cover;  /* makes each image sit next to each other */
    background-position: center;
    background-repeat: no-repeat; 
    /* background image was added by inline style, each image should cover 
       full grid */ 
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  /* occupy 100% full parent height */
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

/* initial state of text */
.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;   /* set to same value as in hover below */
    color: transparent; /* hide the text */
}

/* show the text upon mouse hover */
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

/* no such class in html, but we use javascript to add
   and remove this class attribute to emulate
   darken the images */
.img-darken {
    transition: 1s;
    filter: brightness(10%)
}


/***********************
 About page styles 
***********************/
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}